name: Docker Image create and push
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}
    - name: Build and push Docker image
      run: |
        IMAGE_NAME=$(echo "ghcr.io/${{ github.repository_owner }}/jira" | tr '[:upper:]' '[:lower:]')
        TIMESTAMP=$(date +%s)
        docker build . --file Dockerfile --tag $IMAGE_NAME:$TIMESTAMP
        docker push $IMAGE_NAME:$TIMESTAMP
    - name: Log out of GitHub Container Registry
      run: docker logout ghcr.io
